@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
    font-family: "Poppins", sans-serif;
    background-color: #e6f7fd;
}

.box {
    height: 370px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px;
}

.d-grid {
    margin-top: 180px;
    color: #868686;
}
